* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

footer.main {
  padding: 1em 0;
  border-top: 1px solid whitesmoke; }

.hero {
  padding: 8em 2em;
  background: #f26663 url("../../images/hero-background.jpg") bottom center no-repeat;
  background-size: cover;
  text-align: center; }
  .hero .page-title {
    font-size: 6em;
    font-weight: 400;
    margin-bottom: 0;
    text-shadow: 0 0 2px #dd1712; }
    .hero .page-title a {
      color: white;
      text-decoration: none; }
  .hero .page-subtitle {
    margin-top: 0;
    color: white;
    opacity: 0.75; }
    .hero .page-subtitle:before {
      content: "";
      display: block;
      width: 5em;
      margin: 1em auto;
      border-top: 2px solid white; }
  .hero .divider {
    margin: 0 0.5em; }

body {
  margin: 0; }

img {
  max-width: 100%;
  display: block; }

section {
  *zoom: 1;
  display: block; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }
  section.full-width {
    padding: 8em; }

article, section:not(.page-wrapper):not(.hero):not(.full-width) {
  *zoom: 1;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  border-bottom: 1px solid whitesmoke; }
  article:before, section:not(.full-width):not(.hero):not(.page-wrapper):before, article:after, section:not(.full-width):not(.hero):not(.page-wrapper):after {
    content: " ";
    display: table; }
  article:after, section:not(.full-width):not(.hero):not(.page-wrapper):after {
    clear: both; }

.page-wrapper {
  *zoom: 1;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: white; }
  .page-wrapper:before, .page-wrapper:after {
    content: " ";
    display: table; }
  .page-wrapper:after {
    clear: both; }

.outset-center {
  margin: 2em -4em; }

.intro .pitch {
  color: #b5b5b5; }

.page ul.schedule {
  padding: 0;
  list-style-type: none;
  margin: 0.3125em 0; }
  .page ul.schedule li {
    padding: 0.625em 0; }
  .page ul.schedule li:not(:last-child) {
    border-bottom: 1px solid whitesmoke; }
  .page ul.schedule .time {
    color: #b5b5b5; }

html {
  font-size: 100%; }

body {
  font-family: "promia-nova",sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: #444444; }

a {
  color: #f26663; }
  a:hover {
    color: #dd1712; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }
  h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    font-weight: 600; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2.25em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.75em; }

h6 {
  font-size: 1.5em; }
