<section class="hero">

    <h1 class="page-title">HTS Just Got Better</h1>

    <div class="text">
        <h3 class="page-subtitle">Assay for <strong>Endogenos</strong> Gene Expression</h3>
        <h5><strong>As compared to Reporter Gene Assays, qPCR enables you to:</strong></h5>
        <ul>
            <li>Obtain more <em>biologically relevent</em> data</li>
            <li>Increase data sensitivity</li>
            <li>Decrease number of false hits</li>
        </ul>    
    </div>

    <img src="{{ "hero-lightcycler.jpg" | asset_url }}" alt="" class="">

</section>