// Structure

body {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

section {
    @include row();
    &:not(.page-wrapper):not(.hero):not(.full-width) {
        @extend article;
    }
}

article {
    @include outer-container;
    @include pad(2em);
    border-bottom: 1px solid $gray-lt;
}

.page-wrapper {
    @include outer-container;
    padding: 0;
}

.outset-center {
    margin: 2em -4em;
}

.intro {
    @include pad(0 2em);
    background: $gray-lt;
    .pitch {
        text-align: center;
        color: $laravel-lt;

        @include media(481px) {
            @include span-columns(8);
            @include shift(2);
        }
    
    }
}

.page {
    .section-title {
        margin-bottom: 0;
        &:before, &:after {
            content: "\2014";
            display: block;
            font-weight: 100;
            color: $gray-lt;
        }
    }
    ul.schedule {
        padding: 0;
        list-style-type: none;
        margin: 0 0 2em;
        li {
            padding: em(10) 0;
        }
        li:not(:last-child) {
            border-bottom: 1px solid $gray-lt;
        }    
        .time {
            color: darken($gray-lt, 25%);
            margin-right: 0.5em;
        }
    }
}