<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <script type="text/javascript" src="//use.typekit.net/qhc5afv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="assets/stylesheets/css/main.css">

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    </head>
    <body>

        <section class="hero">

            <h1 class="page-title"><a href="/meetup">{{ site.name }}</a></h1>
            <h6 class="page-subtitle">Our next meetup is <strong>Mar. 19th</strong> at <strong>6 PM</strong> at <strong>iHub</strong></h6>
            <a class="btn" href="http://www.meetup.com/Laravel-Louisville">Join us!</a>
            <a class="btn" href="http://www.twitter.com/lurvul">@Lurvul</a>

        </section>

        <section class="intro full-width">

            <h4 class="pitch">You spend your entire day <strong>in front of a computer</strong> making stuff. Come out and <strong>join some other humans</strong> in Louisville who do the same.</h4>

        </section>

        <section class="page-wrapper">

            <article class="page">

                {{ content }}
                
            </article>

        </section><!--/ page-wrapper-->

        <footer class="main">

            <p>
                <a href="https://vimeo.com/laravellouisville"><i class="fa fa-vimeo-square fa-2x"></i></a>
                <a href="https://www.twitter.com/lurvul"><i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="https://github.com/laravel-louisville"><i class="fa fa-github-square fa-2x"></i></a>
            </p>

        </footer><!--/ main -->

        <a href="https://github.com/laravel-louisville/meetup" class="github-ribbon">Fork on GitHub</a>

    </body>
</html>
